name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
          set -e
          # Install Docker if not installed
          if ! command -v docker &> /dev/null
          then
            echo "Installing Docker..."
            sudo apt update -y
            sudo apt install -y docker.io
            sudo systemctl enable docker
            sudo systemctl start docker
            sudo usermod -aG docker ubuntu
          fi

          cd /home/ubuntu || exit 1
          if [ ! -d "otel-flask-app" ]; then
            git clone https://github.com/prashantnitt07/otel-flask-app-.git otel-flask-app
          fi
          cd otel-flask-app
          git pull

          # Build and run container
          sudo docker build -t otel-flask-app .
          sudo docker stop otel-flask || true
          sudo docker rm otel-flask || true
          sudo docker run -d -p 7000:7000 -p 9464:9464 --name otel-flask otel-flask-app
          EOF
